@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #2c2b30;
    color: #d6d6d6;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #f2c4ce;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.navbar a{
    position: relative;
    font-size: 1.4rem;
    color: #d6d6d6;
    font-weight: 500;
    margin-left: 4rem;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #f2c4ce;
    transition: width 0.3s ease;
}

.navbar a:hover{
    color: #f2c4ce;
}

.navbar a:hover::after{
    width: 100%;
}


.nav-links ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}

/* @media (max-width: 780px){
    nav{
        position: absolute;
        top: 100%;
        right : 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: #2c2b30;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    .navbar{
        display:block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover,.navbar a.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #b74b4b;
    }
}*/

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #2c2b30;
    background-image: linear-gradient(to left, black, #4f4f51);
}

.home .home-content h1{
    font-size: 7.1rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #f2c4ce;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img {
    border-radius: 50%;
}

.home-img img{
    position: relative;

    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #f2c4ce;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.home-content p{
    font-size: 1.6rem;
    margin: 1.5rem 0 3rem;
    color: #d6d6d6;
    line-height: 1;
    text-align: justify;

}

.skills-list {
    font-size: 1.8rem;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #f2c4ce;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color: #d6d6d6;
}

.social-icons a:hover { 
    color: #f2c4ce;
    transform: scale(1.4) translateY(-5px);
    background-color: black;
    box-shadow: 0 0 25px white;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width:280px;
    color: #d6d6d6;
}


.typing-text span{
    position: relative;
}

.typing-text span::before{
    color: #f2c4ce;
}

.typing-text span::after{
    content: '';
    position: absolute;
    width:calc(100% + 8px);
    background-color: black;
}

.skills-list p{
    font-size: 1.6rem;
    gap: 1rem;
    margin-top: 1rem;
}
